:root {
    --webapp-gradient-1: linear-gradient(102.29deg, #e65874 0%, #e46628 100%);
  }
  
  html,
  body {
    font-family: "Raleway", sans-serif;
  }
  
  .webapp-header-bg {
    min-height: 11rem;
    background: var(--webapp-gradient-1);
    padding-top: 1.75rem;
  }
  
  .webapp-header {
    display: flex;
    justify-content: center;
    align-items: flex-start;
  }
  
  /* lg boostrap */
  @media (min-width: 992px) {
    .webapp-header {
      justify-content: flex-end;
    }
  }
  
  .webapp-header form {
    display: flex;
    background-color: rgb(37, 12, 12);
    border-radius: 9999px;
  }
  
  .webapp-header form:focus-within {
    outline: medium solid hsl(209, 62%, 50%);
  }
  
  .webapp-header form input[type="search"] {
    padding: 0.375rem 0rem 0.375rem 1rem;
    min-height: 2rem;
    min-width: 12rem;
    font-weight: bold;
    font-size: 1rem;
    line-height: 1;
    border: none;
    appearance: none;
    color: #181818;
    background-color: transparent;
  }
  
  .webapp-header form input[type="search"],
  .webapp-header form input[type="search"]:focus {
    outline: none;
  }
  
  .webapp-header form button {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 0.75rem;
    border: none;
    appearance: none;
    background-color: transparent;
  }
  
  .webapp-header form input[type="search"]::placeholder {
    color: #b3b3d7;
    opacity: 1;
  }
  
  .profile-section {
    margin-top: -4rem;
  }
  
  .profile-section__header {
    margin-bottom: 2.25rem;
  }
  
  .profile-section .profile-section__picture {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 7rem;
    height: 7rem;
    border: 1px solid #5b1701;
    border-radius: 2rem;
    background: rgb(20, 8, 8);
    margin-bottom: 1rem;
  }
  
  .profile-section .profile-section__h {
    font-weight: 500;
    font-size: 1.5rem;
    line-height: 1.25em;
    margin-bottom: 0.25rem;
    color: #181818;
    text-align: center;
  }
  
  .profile-section .profile-section__sub-h {
    font-family: "Ubuntu Mono", monospace;
    line-height: 1;
    color: #c1c1c3;
  }
  
  /* lg boostrap */
  @media (min-width: 992px) {
    .profile-section .profile-section__picture {
      width: 16rem;
      height: 16rem;
    }
  
    .profile-section .profile-section__h,
    .profile-section .profile-section__sub-h {
      text-align: left;
    }
  }
  
  .profile-section__cards {
    margin-bottom: 2rem;
  }
  
  .profile-section__cards__card {
    margin-bottom: 1.25rem;
  }
  
  .profile-section__cards__card h2 {
    font-weight: bold;
    font-size: 1.25rem;
    line-height: 1;
    margin: 0 0 0.5rem 0;
  }
  
  .profile-section__cards__card p {
    color: #c1c1c3;
    font-weight: 600;
    font-size: 1rem;
    line-height: 1.25em;
    margin: 0;
  }
  
  /* lg boostrap */
  @media (min-width: 992px) {
    .profile-section__repositories-container {
      margin-top: 6rem;
    }
  }
  
  .profile-section__repositories-container > h2 {
    font-weight: bold;
    font-size: 1.25rem;
    line-height: 1;
    margin: 0 0 1rem 0;
  }
  
  .profile-section__repositories {
  }
  
  .profile-section__repositories .profile-section__repositories_repository {
    position: relative;
    display: block;
    border-radius: 0.25rem;
    padding: 0.75rem 0.25rem 0.75rem 1.5rem;
    margin-bottom: 1rem;
    text-decoration: none;
  }
  
  /* https://developer.mozilla.org/pt-BR/docs/Web/CSS/:nth-child */
  .profile-section__repositories .profile-section__repositories_repository:nth-child(3n - 2) {
    background: linear-gradient(92.06deg, #c8a9ff 0%, #8c9cfc 100%);
  }
  
  .profile-section__repositories .profile-section__repositories_repository:nth-child(3n - 1) {
    background: linear-gradient(92.06deg, #84c1ec 0%, #39c6b7 100%);
  }
  
  .profile-section__repositories .profile-section__repositories_repository:nth-child(3n) {
    background: linear-gradient(92.06deg, #f28ca9 0%, #f48982 100%);
  }
  
  .profile-section__repositories .profile-section__repositories_repository::before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 1.25rem;
    background: rgba(255, 255, 255, 0.5);
    border-radius: 0.25rem 0 0 0.25rem;
  }
  
  .profile-section__repositories .profile-section__repositories_repository > h4 {
    font-weight: 500;
    font-size: 1rem;
    line-height: 1.25em;
    color: #ffffff;
    margin: 0 0 0.75rem 0;
  }
  
  .profile-section__repositories .profile-section__repositories_repository > div:first-of-type {
    display: flex;
    justify-content: space-between;
    font-size: 0.75rem;
    font-weight: normal;
    line-height: 0.875rem;
    color: #ffffff;
  }
  
  .profile-section__repositories .profile-section__repositories_repository > div:first-of-type > span:last-of-type {
    color: rgba(255, 255, 255, 0.7);
  }